{
  "semi": false, 
  "singleQuote": true, 
  "quoteProps": "as-needed",
  "trailingComma": "none", 
  "endOfLine": "auto",
  "printWidth": 100,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "proseWrap": "preserve"
}
